@charset "utf-8";
@font-face {
  font-family: "Daehan";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff2")
      format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff")
      format("woff");
}
@font-face {
  font-family: "Daehan";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanB.woff2")
      format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanB.woff")
      format("woff");
}
@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "nanumgothic";
}

header {
  position: sticky;
  background-color: rgba(198, 219, 210, 0.63);
  height: 75px;
  top: 0;
  z-index: 10;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 12px;
  left: 5vw;
  background: url("DATALAB/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 200px;
}

.story {
  background: url("DATALAB/background.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first {
  display: flex;
  width: 70vw;
  justify-content: space-around;
}

.sentence {
  background-image: url("DATALAB/first-11.png");
  height: 150px;
  width: 700px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 100px;
}

.image {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  height: 270px;
  min-width: 210px;
}

.main1 {
  background-image: url("DATALAB/first-1.png");
}

.main2 {
  background-image: url("DATALAB/first-2.png");
}
.main3 {
  background-image: url("DATALAB/first-3.png");
}

.main4 {
  background-image: url("DATALAB/first-22.png");
  height: 100px;
  width: 600px;
  margin-top: 100px;
}

.main5 {
  background-image: url("DATALAB/first-4.png");
  height: 200px;
  width: 180px;
  margin-bottom: 80px;
}

.introduce {
  background-image: linear-gradient(
    rgb(198, 219, 210) 35%,
    #75d3b6 35% 75%,
    rgb(198, 219, 210) 75%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 600px;
}

.second-title {
  position: absolute;
  top: 3rem;
  left: 0;
  background-image: url(DATALAB/second-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  width: 700px;
}

.second-chart {
  display: flex;
  width: 70vw;
  justify-content: space-around;
  margin-top: 250px;
}

.second-chart-image {
  list-style: none;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 270px;
  min-width: 210px;
}

.second-chart1 {
  background-image: url("DATALAB/chart1.png");
}

.second-chart2 {
  background-image: url("DATALAB/chart2.png");
}

.second-chart3 {
  background-image: url("DATALAB/chart3.png");
}

.side-image {
  position: absolute;
  right: -30px;
  top: 130px;
  background-image: url(DATALAB/second-2.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 180px;
  width: 180px;
  z-index: 1;
}

.button {
  position: relative;
  background: url("DATALAB/background.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.help-button {
  background-image: url("DATALAB/button1.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 615px;
  height: 90px;
  border: none;
}

.help-button:hover {
  background-image: url("DATALAB/button2.png");
}

.eco-kit {
  font-family: "GmarketSansLight";
}
.side-image1 {
  background-image: url(DATALAB/thrid-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 250px;
  position: absolute;
  right: 8vw;
  top: 5rem;
}

.side-image2 {
  background-image: url(DATALAB/thrid-2.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 250px;
  position: absolute;
  left: 7vw;
  bottom: 1vw;
}

.form > #stb_subscribe {
  background-color: rgb(198, 219, 210);
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  position: relative;
}

#stb_subscribe > form {
  margin-top: 230px;
  background-color: #fcf4c5;
  padding: 50px;
}

.logo2 {
  position: absolute;
  top: 35px;
  left: 5vw;
  background-image: url("DATALAB/logo2.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 400px;
  z-index: 4;
}
#stb_subscribe .stb-title {
  font-family: "Daehan";
  font-style: normal;
  font-weight: 400;
}

#stb_subscribe .stb-box {
  border: none;
}

#stb_subscribe .stb-email {
  border: none;
  width: 300px;
}

#stb_subscribe .stb-button {
  border: none;
}

#stb_subscribe .stb_form_set_label {
  font-family: "GmarketSansLight";
  font-size: 20px;
  background-image: url("DATALAB/box.png");
  background-size: contain;
  width: 150px;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 3.5px;
}

#stb_subscribe .stb_form_set_input {
  border: none;
  display: flex;
  justify-content: center;
  border-radius: 30px;
}

#stb_subscribe .stb_form_submit_button {
  font-family: "GmarketSansLight";
  font-size: 22px;
  border: none;
  border-radius: 30px;
}

#stb_subscribe .email {
  font-family: "GmarketSansLight";
  margin-bottom: 10px;
}

.photos {
  background-color: rgb(198, 219, 210);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.trash-photo {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 820px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 200px;
  margin-top: 250px;
}

.trash-photo-image {
  width: 230px;
  height: 230px;
  border-radius: 10px;
  position: relative;
  background-size: contain;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.trash-photo-image:hover > .blind {
  position: relative;
  width: inherit;
  height: inherit;
  margin: 0;
  z-index: 5;
  background-color: rgba(117, 211, 182, 0.7);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.trash1 {
  background-image: url("DATALAB/photo1.png");
}

.trash2 {
  background-image: url("DATALAB/photo2.png");
}

.trash3 {
  background-image: url("DATALAB/photo3.png");
}
.trash4 {
  background-image: url("DATALAB/photo4.png");
}
.trash5 {
  background-image: url("DATALAB/photo5.png");
}
.trash6 {
  background-image: url("DATALAB/photo6.png");
}

.photos {
  background: url(DATALAB/four1.png);
  background-color: rgb(198, 219, 210);
  background-size: 1500px;
  background-repeat: no-repeat;
  background-position: center;
}

.description {
  display: flex;
  height: 140px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.product-text {
  font-family: "GmarketSansBold";
  font-size: 35px;
  color: white;
  word-break: keep-all;
  overflow: hidden;
  width: 210px;
  text-align: center;
  font-weight: normal;
}

li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

li:first-child {
  margin-left: 0;
}

li:nth-child(4) {
  margin-left: 0;
}

.form > #stb_subscribe::after {
  content: "";
  margin-top: 50px;
  display: block;
  width: 90%;
  border: 1px solid #75d3b6;
}
