@font-face {
  font-family: "MaplestoryOTFBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff")
    format("woff");
}

* {
  font-family: "MaplestoryOTFBold";
  color: white;
  -webkit-text-stroke: 2px #5c9449;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8ad1f0;
  height: 100vh;
}

h1 {
  font-size: 5rem;
  margin-top: 4rem;
  padding-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  line-height: 3rem;
}
.square {
  width: 200px;
  height: 200px;
  border: none;
  background-image: url(./square.png);
  background-size: cover;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 618px;
  height: 618px;
}

.mole {
  background-image: url("./purin.png");
  background-size: cover;
}
